*{
    font-size: 120%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100vh;
    background-color: #8257E5;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;

}
#container{
    width: 90vw;
    max-width: 700px;
    border: solid red;
    padding:10px ;
}
 #container button {
    border-radius: 20%;
    border: solid green;    
    box-shadow: royalblue;
} 
fieldset, input{
    border: solid green;
    margin: 5px;
}